{% extends "style.html" %}

{% block title %}Video projects{% endblock %}

{% block content %}

{% load static %}
<h2 class="text-center mb-4">Video Projects</h2>

<div class="image-row">
    <div class="video-item">
        <h3>Rookie Stars! - Collaborative live show</h3>
        <video width="560" height="315" controls>
            <source src="{% static 'videos/videoplayback.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p>Writing, Editing, Directing, Vision Mixing, Filming</p>
    </div>

    <div class="video-item">
        <h3>H2Go - Collaborative mock advertisement</h3>
        <video width="560" height="315" controls>
            <source src="{% static 'videos/videoplayback.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p>Acting, VO, Filming</p>
    </div>
</div>
{% endblock %}